<html>
<head> 
	<meta charset="UTF-8">
	<title>도서 목록</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<div class="container py-4">

	<div class="container py-4">
		<header class="pb-3 mb-4 border-bottom">
			<a href="/welcome.html" class="d-flex align-items-center text-body-emphasis text-decoration-none">
<!--				<img src="imgs/book_icon.jpg" class="bi bi-book-half me-2" width="50">-->
				<span class="fs-4">BookMarket</span>
			</a>
		</header>
	<div class="p-5 mb-4 bg-body-tertiary rounded-3">
 		<div class="container-fluid py-5">
			<h1 class="display-5 fw-bold">도서 목록</h1>
			<p class="col-md-8 fs-4">BookMarket</p>       
		</div>
	</div>

 	<div class="row align-items-md-stretch text-center">
		<div class="col-md-4" th:each="book:${bookList}">
<!--		<img th:src="'/BookMarket/images/'+${book.fileName}" alt="image" style = "width: 60%" />-->
			<h3 th:text ="${book.name}"></h3>
			<p th:text = "${book.author}">
			<p th:text = "${book.publisher} + '|'+ ${book.releaseDate}"> 
			<p align="left" th:text = "${book.description}">
			<p th:text = "${book.unitPrice}+'원'">	
			<p><a th:href= "'/BookMarket/books/book?id='+${book.bookId}" class=" btn btn-Secondary" role="button">상세정보 &raquo;</a> 
		</div>  

  </div>
</div>
</div>
</body>
</html>